<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

<style>
    body{
        background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    }

    a{
        color: white;
    }

    h2{
        color: white;
        text-shadow: 2px 2px 8px #000000;

    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit Trip</title>
</head>
<body>
   
<div class="col-xs-1" align="center">

    <a href="/logout">Logout</a>  <!-- top right button on page-->

 

    <h2>Hello {{user.first_name}} ! Let's edit your trip!</h2>



    {% for err in messages %}
            <p style='color:red;'> {{err}} </p>
        {% endfor %}

    
    
    <!-- form action is not a website just the process// half a second-->
    <form action="/trips/edit/{{trip.id}}/update" method="POST"> <!-- create a form bc its asking for info from the user to submit-->
        {% csrf_token %}
        
        <div class="form-group">
           <label>Destination</label>                <!-- headers for each entry of the form-->
           <input type="text" class="form-control col-sm-3" name="destination" value="{{trip.destination}}">
        </div>
         
        <div class="form-group">
           <label>Start Date</label>
           <input type="date" class="form-control col-sm-3" name="start_date" value="{{trip.start_date}}"> <!--add value to shoe pre sets -->
        </div>

        <div class="form-group">
            <label>End Date</label>
            <input type="date" class="form-control col-sm-3" name="end_date" value="{{trip.end_date}}"> <!--add value to shoe pre sets -->
         </div>
 
        <div class="form-group">
           <label>Plan</label>
           <input type="text" class="form-control col-sm-3" name="plan" value="{{trip.plan}}">
        </div>
 
 
         
        <button class="btn btn-primary mb-2">Submit</button>     <!-- submit button will go to /trips/edit/{{trip.id}}/update-->
        <button class="btn btn-danger mb-2" type="button"><a href="/dashboard">cancel</a></button>
 
 
 
     
    </form>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

 </body>
 </html>